---
import type { JSX } from "astro/jsx-runtime";
type Props = { name: string } & JSX.HTMLAttributes;
const props = Astro.props;

const hasError = Astro.locals.modelErrorMessagesStore.hasError(props.name);
---

{hasError && (
  <span class="text-danger">
    {Astro.locals.modelErrorMessagesStore.getMessage(props.name)}
  </span>
)}