---
import { useHTMLUtils } from "@/utils/htmlUtils";
import { useRouteUtils } from "@/utils/routeUtils";

// Layout component.
import PublicLayout, { type Props as PublicLayoutProps } from "./PublicLayout.astro";

// Child component.
import EnquiryForm from "@/components/routes/public/EnquiryForm.astro";

// Props.
type Props = PublicLayoutProps;

// Dependencies.
const { compute } = useHTMLUtils();
const routeUtils = useRouteUtils();

// Computed.
const isEnquiryFormVisible = compute<boolean>(() => {
  return Astro.url.pathname !== routeUtils.getPublicEnquiryRoutePath();
});
---

<PublicLayout pageTitle={Astro.props.pageTitle}>
  <div class="container-fluid bg-success-subtle text-white border-bottom border-success p-5">
    <div class="container p-3">
      <span class="fs-1">{Astro.props.pageTitle}</span>
    </div>
  </div>

  <slot />

  {isEnquiryFormVisible && <EnquiryForm />}
</PublicLayout>

<style>
  .container-fluid {
    background-image:
      linear-gradient(
        to right,
        rgba(var(--bs-success-rgb), 0.85) 0%,
        rgba(var(--bs-success-rgb), 0.85) 100%),
      url("https://iili.io/38RaopR.png");
  }
</style>