---
import { useHTMLUtils } from "@/utils/htmlUtils";
import { useRouteUtils } from "@/utils/routeUtils";

// Layout component.
import PublicLayout, { type Props as PublicLayoutProps } from "./PublicLayout.astro";

// Child component.
import EnquiryForm from "@/components/routes/public/EnquiryForm.astro";

// Props.
type Props = PublicLayoutProps;

// Dependencies.
const { compute } = useHTMLUtils();
const routeUtils = useRouteUtils();

// Computed.
const isEnquiryFormVisible = compute<boolean>(() => {
  return Astro.url.pathname === routeUtils.getPublicEnquiryRoutePath();
});
---

<div class="container-fluid bg-success-subtle text-white border-bottom border-success p-5">
  <div class="container p-3">
    <span class="fs-1">{Astro.props.pageTitle}</span>
  </div>
</div>

<slot />

{isEnquiryFormVisible && (
  <EnquiryForm />
)}