---
import { useHTMLUtils } from "@/utils/htmlUtils";

// Props.
type Props = { href: string; };

// Dependencies.
const { compute, joinHTMLClass } = useHTMLUtils();

// Computed.
const computedClassName = compute<string | undefined>(() => {
  if (Astro.url.pathname === "/" && Astro.props.href === Astro.url.pathname) {
    return "active";
  }

  if (Astro.props.href !== "/" && Astro.url.pathname.startsWith(Astro.props.href)) {
    return "active";
  }

  return undefined;
});
---

<a href={Astro.props.href} class={joinHTMLClass(computedClassName, "nav-link")}>
  <slot></slot>
</a>

<style>
  .nav-link.active {
    background-color: var(--bs-success) !important;
    color: var(--bs-white);
  }
</style>