---
// Layout component.
import NavigationBar from "./NavigationBar.astro";
import FloatingButtons from "./FloatingButtons.astro";

export type Props = {
	pageTitle: string;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		>
    <meta name="generator" content={Astro.generator} />
    <title>{props.pageTitle}</title>
  </head>
  <body>
    <NavigationBar />
    <div class="main-wrapper">
      <slot />
    </div>
    <FloatingButtons />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }

  .main-wrapper {
    margin-top: var(--navbar-height);
    width: 100%;
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
</style>

<script>
import "@/assets/main.css";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap";
import "@popperjs/core";
</script>